In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("data/mlb.db")

# Load distinct teams from upcoming_games
teams_df = pd.read_sql("""
    SELECT DISTINCT home_team AS team FROM upcoming_games
    UNION
    SELECT DISTINCT away_team AS team FROM upcoming_games
""", conn)

conn.close()
teams_df

   team
0  None

In [2]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("data/mlb.db")

# Define tables to inspect
tables = [
    "upcoming_games",
    "cached_player_names",
    "hit_props",
    "game_level_features"
]

# Loop through each table, print columns and one row
for table in tables:
    print(f"\n=== {table.upper()} ===")
    
    try:
        df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5", conn)
        print(f"Columns: {list(df.columns)}")
        display(df)
    except Exception as e:
        print(f"Could not read table {table}: {e}")

conn.close()

=== UPCOMING_GAMES ===
Columns: ['game_id', 'game_date', 'home_team', 'away_team', 'home_pitcher', 'away_pitcher']

  game_id   game_date home_team away_team  home_pitcher  away_pitcher
0  777640  2025-06-05       ATL       ARI        656550        694297
1  777642  2025-06-05       STL        KC        571945        702070
2  777635  2025-06-05       STL        KC        669461        666142
3  777634  2025-06-05       CWS       DET        680732        663554
4  777637  2025-06-05       TOR       PHI        605135        666200

=== CACHED_PLAYER_NAMES ===
Columns: ['mlb_id', 'player_name', 'team']

Empty DataFrame
Columns: [mlb_id, player_name, team]
Index: []

=== HIT_PROPS ===
Could not read table hit_props: Execution failed on sql 'SELECT * FROM hit_props LIMIT 5': no such table: hit_props

=== GAME_LEVEL_FEATURES ===
Columns: ['game_date', 'batter', 'pitcher', 'hit_in_game', 'batter_plate_appearances', 'batter_hits', 'avg_launch_speed', 'avg_launch_angle', 'stand', 'batter_team', 'is_home_game', 'batting_avg', 'batter_hits_5g', 'pitcher_plate_appearances', 'pitcher_hits_allowed', 'p_throws', 'pitcher_team', 'baa', 'pitcher_hits_allowed_5g', 'total_hits', 'total_pas_x', 'career_avg', 'total_hits_allowed', 'total_pas_y', 'career_baa']

,game_date,batter,pitcher,hit_in_game,batter_plate_appearances,batter_hits,avg_launch_speed,avg_launch_angle,stand,batter_team,...,p_throws,pitcher_team,baa,pitcher_hits_allowed_5g,total_hits,total_pas_x,career_avg,total_hits_allowed,total_pas_y,career_baa
0,2015-04-05 00:00:00,407812,444468,0,5,2,79.050000,11.000000,R,2,...,R,0,0.000000,None,238,1129,0.210806,293,1290,0.227132
1,2015-04-05 00:00:00,407812,452657,1,5,2,79.050000,11.000000,R,2,...,L,0,0.347826,None,238,1129,0.210806,1090,4712,0.231324
2,2015-04-05 00:00:00,407812,519166,0,5,2,79.050000,11.000000,R,2,...,R,0,0.250000,None,238,1129,0.210806,125,576,0.217014
3,2015-04-05 00:00:00,424325,425794,1,2,1,99.000000,24.500000,R,0,...,R,2,0.217391,None,62,377,0.164456,1161,4746,0.244627
4,2015-04-05 00:00:00,425509,444468,0,5,1,88.866667,31.333333,R,2,...,R,0,0.000000,None,224,940,0.238298,293,1290,0.227132

In [3]:
import sqlite3

conn = sqlite3.connect("data/mlb.db")
conn.execute("""
CREATE TABLE IF NOT EXISTS hit_props (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    event_id INTEGER,
    market_id TEXT,
    market_time TEXT,
    player TEXT,
    decimal_odds REAL,
    scraped_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
""")
conn.commit()
conn.close()

print("hit_props table created.")

hit_props table created.

In [4]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("data/mlb.db")

batter_game = pd.read_sql("SELECT * FROM batter_game_stats LIMIT 5", conn)
print("batter_game_stats columns:", batter_game.columns.tolist())

pitcher_game = pd.read_sql("SELECT * FROM pitcher_game_stats LIMIT 5", conn)
print("pitcher_game_stats columns:", pitcher_game.columns.tolist())

conn.close()

batter_game_stats columns: ['batter', 'game_date', 'plate_appearances', 'hits', 'avg_launch_speed', 'avg_launch_angle', 'stand', 'batter_team', 'is_home_game', 'batting_avg', 'batter_hits_5g']
pitcher_game_stats columns: ['pitcher', 'game_date', 'plate_appearances', 'hits_allowed', 'p_throws', 'pitcher_team', 'baa', 'pitcher_hits_allowed_5g']

In [5]:
# Debug notebook: Confirm database schema and values
import sqlite3
import pandas as pd
import joblib

DB_PATH = "data/mlb.db"

def preview_table(table_name, limit=5):
    conn = sqlite3.connect(DB_PATH)
    try:
        df = pd.read_sql(f"SELECT * FROM {table_name} LIMIT {limit}", conn)
        print(f"Preview of `{table_name}`:")
        display(df)
        print("Columns:", df.columns.tolist())
    except Exception as e:
        print(f"Error reading `{table_name}`:", e)
    finally:
        conn.close()

# 1. Check player name cache
preview_table("cached_player_names")

# 2. Check FanDuel hit props
preview_table("hit_props")

# 3. Check feature matrix used for model prediction
preview_table("game_level_features")

# 4. Confirm model input schema
print("\nChecking model input pipeline:")
model = joblib.load("models/hit_model.joblib")
print(model.named_steps["preprocessor"].transformers)

Preview of `cached_player_names`:

   mlb_id       player_name team
0  445276     kenley jansen  LAA
1  450203    charlie morton  BAL
2  455117  martín maldonado   SD
3  456781    donovan solano  SEA
4  457705  andrew mccutchen  PIT

Columns: ['mlb_id', 'player_name', 'team']
Preview of `hit_props`:

,id,event_id,market_id,market_time,player,decimal_odds,scraped_at
0,588,34387244,734.126520079,2025-06-05T23:46:00.000Z,Bobby Witt Jr.,1.333333,2025-06-05 20:46:44
1,589,34387244,734.126520079,2025-06-05T23:46:00.000Z,Maikel Garcia,1.416667,2025-06-05 20:46:44
2,590,34387244,734.126520079,2025-06-05T23:46:00.000Z,Salvador Perez,1.416667,2025-06-05 20:46:44
3,591,34387244,734.126520079,2025-06-05T23:46:00.000Z,Brendan Donovan,1.434783,2025-06-05 20:46:44
4,592,34387244,734.126520079,2025-06-05T23:46:00.000Z,Jonathan India,1.454545,2025-06-05 20:46:44

Columns: ['id', 'event_id', 'market_id', 'market_time', 'player', 'decimal_odds', 'scraped_at']
Preview of `game_level_features`:

,game_date,batter,pitcher,hit_in_game,batter_plate_appearances,batter_hits,avg_launch_speed,avg_launch_angle,stand,batter_team,...,p_throws,pitcher_team,baa,pitcher_hits_allowed_5g,total_hits,total_pas_x,career_avg,total_hits_allowed,total_pas_y,career_baa
0,2015-04-05 00:00:00,407812,444468,0,5,2,79.050000,11.000000,R,2,...,R,0,0.000000,None,238,1129,0.210806,293,1290,0.227132
1,2015-04-05 00:00:00,407812,452657,1,5,2,79.050000,11.000000,R,2,...,L,0,0.347826,None,238,1129,0.210806,1090,4712,0.231324
2,2015-04-05 00:00:00,407812,519166,0,5,2,79.050000,11.000000,R,2,...,R,0,0.250000,None,238,1129,0.210806,125,576,0.217014
3,2015-04-05 00:00:00,424325,425794,1,2,1,99.000000,24.500000,R,0,...,R,2,0.217391,None,62,377,0.164456,1161,4746,0.244627
4,2015-04-05 00:00:00,425509,444468,0,5,1,88.866667,31.333333,R,2,...,R,0,0.000000,None,224,940,0.238298,293,1290,0.227132

Columns: ['game_date', 'batter', 'pitcher', 'hit_in_game', 'batter_plate_appearances', 'batter_hits', 'avg_launch_speed', 'avg_launch_angle', 'stand', 'batter_team', 'is_home_game', 'batting_avg', 'batter_hits_5g', 'pitcher_plate_appearances', 'pitcher_hits_allowed', 'p_throws', 'pitcher_team', 'baa', 'pitcher_hits_allowed_5g', 'total_hits', 'total_pas_x', 'career_avg', 'total_hits_allowed', 'total_pas_y', 'career_baa']

Checking model input pipeline:
[('num', SimpleImputer(), ['batter_plate_appearances', 'batter_hits', 'avg_launch_speed', 'avg_launch_angle', 'batting_avg', 'batter_hits_5g', 'pitcher_plate_appearances', 'pitcher_hits_allowed', 'baa', 'pitcher_hits_allowed_5g', 'career_avg', 'career_baa', 'batter_team', 'pitcher_team']), ('cat', Pipeline(steps=[('imputer', SimpleImputer(strategy='most_frequent')),
                ('onehot', OneHotEncoder(handle_unknown='ignore'))]), ['stand', 'is_home_game', 'p_throws'])]